[defaults]
collections_paths = /home/vgorshkov/STUDENT/ansible/venv/lib/python3.12/site-packages/ansible_collections:/home/vgorshkov/.ansible/collections
roles_path = /home/vgorshkov/.ansible/roles:/home/vgorshkov/STUDENT/ansible-dz06/roles
inventory = ./inventory.ini
# stdout_callback = yaml  # временно отключили
