[defaults]
host_key_checking = False
timeout = 60
stdout_callback = ansible.builtin.default
result_format = yaml
callbacks_enabled = profile_tasks

[galaxy]
timeout = 120
server_timeout = 120

[galaxy_server]
timeout = 120
retries = 5
